* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif;
}

nav {
    background: linear-gradient(to bottom, #33224A, #6F5A8D);
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

label.logoname {
    color: #EDBFE8;
    font-family: 'Times New Roman';
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 50px;
    padding: 20px;
    letter-spacing: 3px;
    font-weight: bold;
}


nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 20px;
}

nav ul li a {
    color: whitesmoke;
    font-size: 20px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active, a:hover {
    background: #241133;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: #EDBFE8;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    margin-left: 20px;
    cursor: pointer;
    display: none;
}
  
#check{
display: none;
}

section {
    background: no-repeat, url(../images/yo.jpg);
    background-size: cover;
    background-position: center;
    height: calc(100vh - 80px);
    width: 100%;
}

.content{
    width: 1200px;
    height: auto;
    color: #fff;
}

.content h1{
    font-family: 'Times New Roman';
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 150px;
    padding-left: 150px;
    padding-top: 180px;
    letter-spacing: 2px;
}

.content p{
    font-family: Arial;
    font-size: 20px;
    padding-left: 30px;
    letter-spacing: 1.5px;
    padding-left: 150px;
    line-height: 30px;
    text-align: justify;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
    .content h1{
        font-size: 100px;
        padding-left: 100px;
        padding-top: 120px;
    }
    .content p{
        font-size: 13px;
        padding-left: 60px;
        font-weight: bold;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #33224A;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
        font-weight: bold;
    }
    a:hover,a.active{
        background: none;
        color: #EDBFE8;
    }
    #check:checked ~ ul{
        left: 0;
    }
    .content h1{
        font-size: 100px;
        padding-left: 65px;
        padding-top: 120px;
    }
    .content p{
        font-size: 13px;
        padding-left: 65px;
        font-weight: bold;
    }
}
